In [1]:
import pandas as pd

## 데이터 임포트

In [24]:
b1=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\북촌리뷰_23년1분기_감성분석.csv')
b2=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\북촌리뷰_22년2분기_감성분석.csv')
b3=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\북촌리뷰_22년3분기_감성분석.csv')
b4=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\북촌리뷰_22년4분기_감성분석.csv')

In [25]:
sc1=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\신촌리뷰_23년1분기_감성분석.csv')
sc2=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\신촌리뷰_22년2분기_감성분석.csv')
sc3=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\신촌리뷰_22년3분기_감성분석.csv')
sc4=pd.read_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\신촌리뷰_22년4분기_감성분석.csv')

In [26]:
sc1.head()

,상가업소번호,가게명,리뷰,evaluation,sentiment,persent
0,MA010120220813677380,고래파스타,분위기 좋아용,(긍정 확률 : 0.98) 긍정,긍정,0.98
1,MA010120220813677380,고래파스타,ㅇㅅㅇ,(긍정 확률 : 0.98) 긍정,긍정,0.98
2,MA010120220813677380,고래파스타,라자냐까지 먹었는데 너무 맛있었어욤!!,(긍정 확률 : 0.98) 긍정,긍정,0.98
3,MA010120220813677380,고래파스타,가성비 괜찮아요 뇨끼랑 라자냐 먹었는데 라자냐가 맛있었어요,(긍정 확률 : 0.98) 긍정,긍정,0.98
4,MA010120220813677380,고래파스타,친구 추천으로 가봤어요. 감자 뇨끼 맛있어요!!,(긍정 확률 : 0.98) 긍정,긍정,0.98

## 퍼센티지, 긍부정 레이블 분리

In [9]:
def seperate(df):
    df['sentiment']=''
    df['persent']=''

    #긍정, 긍정으로 예측한 확률 
    for i in range(len(df)):
        df['sentiment'][i]=df['evaluation'][i][1:3]
        df['persent'][i]=df['evaluation'][i][9:13]
    
    return df

In [20]:
b1=seperate(b1)
b2=seperate(b2)
b3=seperate(b3)
b4=seperate(b4)

In [19]:
sc1=seperate(sc1)
sc2=seperate(sc2)
sc3=seperate(sc3)
sc4=seperate(sc4)

## 저장

In [22]:
b1.to_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\북촌리뷰_23년1분기_감성분석.csv',index=False)
b2.to_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\북촌리뷰_22년2분기_감성분석.csv',index=False)
b3.to_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\북촌리뷰_22년3분기_감성분석.csv',index=False)
b4.to_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\북촌리뷰_22년4분기_감성분석.csv',index=False)

In [23]:
sc1.to_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\신촌리뷰_23년1분기_감성분석.csv',index=False)
sc2.to_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\신촌리뷰_22년2분기_감성분석.csv',index=False)
sc3.to_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\신촌리뷰_22년3분기_감성분석.csv',index=False)
sc4.to_csv(r'C:\Users\user\OneDrive\바탕화~1-DESKTOP-R00ORLS-348\캡스톤\KoBERT 감성분류\sentiment_label\신촌리뷰_22년4분기_감성분석.csv',index=False)

## 가게별 긍정 리뷰 비율

### 가게별 리뷰 개수

In [27]:
b1.head()

,상가업소번호,가게명,리뷰,evaluation,sentiment,persent
0,MA010120220805435729,몽중헌 안국점,너무 맛있게 먹고갑니다.ㅎ,(긍정 확률 : 0.99) 긍정,긍정,0.99
1,MA010120220805435729,몽중헌 안국점,맛있어요,(긍정 확률 : 0.98) 긍정,긍정,0.98
2,MA010120220805435729,몽중헌 안국점,딤섬 먹으러 갔어요 가격이 좀 쎄네요 맛은 그냥 소소,(긍정 확률 : 0.94) 긍정,긍정,0.94
3,MA010120220805435729,몽중헌 안국점,미리 예약해서 룸으로 안내 받았어요! 주문한 음식 모두 맛있게 잘 먹었습니다 ! 짬...,(긍정 확률 : 0.99) 긍정,긍정,0.99
4,MA010120220805435729,몽중헌 안국점,굿,(긍정 확률 : 0.94) 긍정,긍정,0.94

In [35]:
#긍부정 리뷰 비율
b1_list=b1['가게명'].value_counts().index

shop_name_list=[]
review_len_list=[]
shop_good_list=[]
shop_bad_list=[]
good_review_per=[]
bad_review_per=[]

for i in range(len(b1_list)):
  shop_name=b1_list[i]
  shop=b1[b1['가게명']==shop_name]#특정 호텔 데이터만 뽑기
  shop_name_list.append(shop_name)#호텔 이름 넣어주기

  #특정 호텔 리뷰 개수
  review_len=len(b1[b1['가게명']==shop_name])
  review_len_list.append(review_len) 

  #긍정 리뷰 개수
  shop_good=len(shop[shop['sentiment']=='긍정'])
  shop_good_list.append(len(shop[shop['sentiment']=='긍정']))

  #부정리뷰 개수
  shop_bad=len(shop[shop['sentiment']=='부정'])
  shop_bad_list.append(len(shop[shop['sentiment']=='부정']))

  #긍정 리뷰 비율
  good_per=round(shop_good/review_len*100,1)
  good_review_per.append(good_per)

  #부정 리뷰 비율
  bad_per=round(shop_bad/review_len*100,1)
  bad_review_per.append(bad_per)


shop_good_bad=pd.DataFrame({'호텔':shop_name_list,
                             '리뷰 개수':review_len_list,
                             '긍정 리뷰 개수':shop_good_list,
                             '부정 리뷰 개수':shop_bad_list,
                             '긍정 리뷰 비율':good_review_per,
                             '부정 리뷰 비율':bad_review_per})

In [36]:
shop_good_bad

               호텔  리뷰 개수  긍정 리뷰 개수  부정 리뷰 개수  긍정 리뷰 비율  부정 리뷰 비율
0           도토리가든    316       302        14      95.6       4.4
1          어니언 안국    259       241        18      93.1       6.9
2    오설록 티하우스 북촌점    182       178         4      97.8       2.2
3            진작카키    180       174         6      96.7       3.3
4      블루보틀 삼청 카페    171       154        17      90.1       9.9
..            ...    ...       ...       ...       ...       ...
346         계동107      1         1         0     100.0       0.0
347      북촌 호떡나들이      1         1         0     100.0       0.0
348         소소한행복      1         1         0     100.0       0.0
349        핸디크레프티      1         1         0     100.0       0.0
350    이디야커피북촌마을점      1         1         0     100.0       0.0

[351 rows x 6 columns]